<footer id="contact">
  <div class="footer-inner">

    <div class="footer-brand">
      <img class="footer-logo-img" src="images/WCB-Logo-Navy.png" alt="Whiskey Creek Beach NW" />
    </div>

    <div class="footer-nav">
      <div class="footer-col">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="accommodations.html">Accommodations</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <ul>
          <li><a href="policies.html">Policies</a></li>
          <li><a href="other-properties.html">Other Properties</a></li>
          <li><a href="https://whiskeycreekbeachnw.guestybookings.com/en/properties?city=Port+Angeles&country=United+States&minOccupancy=1" target="_blank">Reservations</a></li>
        </ul>
      </div>
    </div>

    <div class="footer-contact">
      <h4>Contact Info</h4>
      <p>
        1385 Whiskey Creek Beach Rd<br>
        Port Angeles, WA 98363
      </p>
      <p style="margin-top:0.5rem;">
        <a href="tel:8447692322">(844) 769-2322</a>
      </p>
    </div>

  </div>
  <div class="footer-bottom">
    Copyright &copy; 2026. All Rights Reserved<br><a href="changelog.html" class="site-version">v2.0.7</a>
  </div>
</footer>
