<nav>
  <a class="nav-logo" href="index.html">
    <img class="nav-logo-img" src="../Website/logo/WCB-Logo-Navy.png" alt="Whiskey Creek Beach NW" />
  </a>
  <ul class="nav-links">
    <li><a href="index.html">Home</a></li>
    <li class="dropdown">
      <a href="accommodations.html">Accommodations ▾</a>
      <ul class="dropdown-menu">
        <li><a href="accommodations.html#codfish">Codfish Cabin</a></li>
        <li><a href="accommodations.html#captain">Captain Quarters</a></li>
        <li><a href="accommodations.html#halibut">Halibut Hole</a></li>
        <li><a href="accommodations.html#jasper">Jasper Inn</a></li>
        <li><a href="accommodations.html#cottages">Cottages</a></li>
        <li><a href="accommodations.html#aframes">A-Frames</a></li>
        <li><a href="accommodations.html#tent">Tent Sites</a></li>
        <li><a href="accommodations.html#rv">RV Sites</a></li>
      </ul>
    </li>
    <li><a href="about.html">About</a></li>
    <li><a href="contact.html">Contact</a></li>
    <li><a href="policies.html">Policies</a></li>
    <li><a href="other-properties.html">Other Properties</a></li>
    <li><a href="https://www.reservenow.com" target="_blank" class="nav-book-btn">Book Now</a></li>
  </ul>
  <button class="hamburger" aria-label="Menu">
    <span></span><span></span><span></span>
  </button>
</nav>

<div class="mobile-menu" id="mobileMenu">
  <a href="index.html">Home</a>
  <a href="accommodations.html">Accommodations</a>
  <div class="sub-links">
    <a href="accommodations.html#codfish">Codfish Cabin</a>
    <a href="accommodations.html#captain">Captain Quarters</a>
    <a href="accommodations.html#halibut">Halibut Hole</a>
    <a href="accommodations.html#jasper">Jasper Inn</a>
    <a href="accommodations.html#cottages">Cottages</a>
    <a href="accommodations.html#aframes">A-Frames</a>
    <a href="accommodations.html#tent">Tent Sites</a>
    <a href="accommodations.html#rv">RV Sites</a>
  </div>
  <a href="about.html">About</a>
  <a href="contact.html">Contact</a>
  <a href="policies.html">Policies</a>
  <a href="other-properties.html">Other Properties</a>
  <a href="https://www.reservenow.com" target="_blank" class="mob-book">Book Now</a>
</div>
